@import '../../../app/mixins.scss';

.wrapper {
    @include innerBoxShadow(20px);
    @include borderRad(10px);

    flex: 0 0 50%;

    padding: 10px 10px 0 10px;

    background: var(--secondaryEffect);

    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    .imageContainer {
        @include borderRad(10px);
        @include innerBoxShadow(15px);
        background: var(--white);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;

        &.characterImage {
            max-width: 200px;
            max-height: 200px;
            img {
                width: 90%;
                object-fit: cover;
            }
        }
        &.backgroundImage {
            width: 340px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .stats {
        @include innerBoxShadow(15px);
        @include borderRad(10px);
        background: var(--secondary);
        padding: 15px;
        width: 220px;

        & > div {
            display: flex;
            align-items: center;
            gap: 10px;
            & > b {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

.description {
    margin: 5px 0px 0px 0px;
    overflow: hidden;
    padding: 10px 0;
    flex: 1 1 auto;
    height: 100%;
    p {
        overflow-y: auto;
        height: 100%;
        padding: 15px;
        @include scrollType(var(--secondary), #9faaff, 12px);
        @include borderRad(10px);
        @include innerBoxShadow(20px);
        background: var(--secondary);
        color: var(--black);
        font-size: 18px;
    }
}
.actions {
    padding: 7px 0;
    width: 100%;
    display: flex;
    flex: 0 0 50px;
    justify-content: center;

    button {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 22px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

@media screen and (max-height: 768px) {
    .actions {
        max-height: 100px;
        button {
            font-size: 20px;
            padding: 6px 8px;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    .description {
        padding: 0;
        p {
            padding: 10px;
        }
    }
    .header {
        .imageContainer {
            &.characterImage {
                max-width: 150px;
                max-height: 150px;
            }
        }
    }
}
@media screen and (max-height: 568px) {
    .header {
        .imageContainer {
            &.characterImage {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
}

@media screen and (max-height: 408px) {
    .description {
        p {
            padding: 10px;
        }
    }
    .header {
        .stats {
            & > div {
                font-size: 16px;
                & > b {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}
