@import '../../../app/mixins.scss';

.wrapper {
    --imageSize: 32px;
    --height: 250px;
    --width: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    img {
        width: var(--imageSize);
        height: var(--imageSize);
    }
    @media screen and (max-height: 400px) {
        --height: 150px;
    }
}
.soundWrapper {
    position: relative;
    height: calc(var(--height) + 10px);
    width: 3rem;

    &::before,
    &::after {
        display: block;
        position: absolute;
        z-index: 99;
        color: var(--black);
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1;
        padding: 0.75rem 0;
        pointer-events: none;
    }

    &::before {
        content: '+';
    }

    &::after {
        content: '-';
        bottom: 0;
    }
}
input[type='range'] {
    -webkit-appearance: none;
    // background-color: #29292d;
    @include innerBoxShadow(20px);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(-90deg);

    width: var(--height);
    height: var(--width);

    border-radius: 10px;
    overflow: hidden;
    cursor: row-resize;

    &[step] {
        background-color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0;
        box-shadow: calc(-1 * var(--height)) 0 0 var(--height) rgba(#000, 0.2);
    }

    &::-moz-range-thumb {
        border: none;
        width: 0;
        box-shadow: calc(-1 * var(--height)) 0 0 var(--height) rgba(#000, 0.2);
    }
}

@media screen and (max-height: 1000px) and (max-width: 768px) {
    input[type='range'] {
        transform: translate(-50%, -50%) !important;
        --height: 100%;
        --width: 20px;
        --image: 16px;
        &::-webkit-slider-thumb {
            box-shadow: calc(-20 * var(--width)) 0 0 calc(var(--width) * 20)
                rgba(#000, 0.2);
        }
    }
    .wrapper {
        flex-direction: row;
        justify-content: flex-start;
        --imageSize: 32px;
        --height: 20px;
        --width: 100%;
    }
    .soundWrapper {
        width: 100%;
        &::before,
        &::after {
            height: 100%;
            padding: 0;
            width: fit-content;
            display: flex;
            align-items: center;
        }
        &::before {
            content: '+';
            right: 7.5px;
        }

        &::after {
            content: '-';
            left: 7.5px;
        }
    }
}
